dataset_builder/__pycache__/*
dataset_builder/scripts/intermediate/bad_gps/*
dataset_builder/scripts/intermediate/blurry/*
dataset_builder/scripts/intermediate/duplicates/*
dataset_builder/scripts/intermediate/histogram_check/*
dataset_builder/scripts/intermediate/images/*
dataset_builder/scripts/intermediate/pickles/*
dataset_builder/scripts/intermediate/too_small/*
dataset_builder/scripts/output/*

DeepCalibUseful/prediction/weights_06_5.61.h5

scripts/CSVs/val/*
scripts/CSVs/train/*
scripts/CSVs/index/*

.git_old/*

OpenSfM_GPU/bin/dataset/*
dataset_builder/scripts/subcluster/*